	<div class="section-bg-color">
            <div class="container content">
                <div class="title-base">
                    <hr class="anima" />
                    <h2>Aktuality</h2>
                    <p>Novinky ze života ALUMNI ČVUT.</p>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="advs-box advs-box-top-icon-img niche-box-post boxed-inverse" data-anima="scale-rotate" data-trigger="hover">
                            <div class="block-infos">
                                <div class="block-data">
                                    <p class="bd-day">1.</p>
                                    <p class="bd-month">března 2017</p>
                                </div>
                                <a class="block-comment" href="#">2 <i class="fa fa-comment-o"></i></a>
                            </div>
                            <a class="img-box"><img class="anima" src="../images/novinka1.jpg" alt="" /></a>
                            <div class="advs-box-content">
                                <h2><a href="#">Ples ČVUT</a></h2>
                                <div class="tag-row">
                                    <span><i class="fa fa-bookmark"></i> <a href="#">Akce</a>, <a href="#">Setkání</a></span>
                                    <span><i class="fa fa-pencil"></i><a>Ilona Prausová</a></span>
                                </div>
                                <p class="niche-box-content">
                                    18. února proběhl v paláci Žofín tradiční, již jedenáctý, Reprezentační ples ČVUT. Byli jsme u toho!
                                </p>
                                <a class="anima-button circle-button btn btn-sm" href="#">Číst dále</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="advs-box advs-box-top-icon-img niche-box-post boxed-inverse" data-anima="scale-rotate" data-trigger="hover">
                            <div class="block-infos">
                                <div class="block-data">
                                    <p class="bd-day">5.</p>
                                    <p class="bd-month">března 2017</p>
                                </div>
                                <a class="block-comment" href="#">4 <i class="fa fa-comment-o"></i></a>
                            </div>
                            <a class="img-box"><img class="anima" src="../images/novinka2.jpg" alt="" /></a>
                            <div class="advs-box-content">
                                <h2><a href="#">Udělení čestného dokrátu</a></h2>
                                <div class="tag-row">
                                    <span><i class="fa fa-bookmark"></i> <a href="#">Akce</a>, <a href="#">Titul</a></span>
                                    <span><i class="fa fa-pencil"></i><a>Petr Štěpán</a></span>
                                </div>
                                <p class="niche-box-content">
                                    Rektor ČVUT prof. Petr Konvalinka předal čestný titul Doktor Honoris Causa architektu Miroslavu Šikovi.
                                </p>
                                <a class="anima-button circle-button btn btn-sm" href="#">Číst dále</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="advs-box advs-box-top-icon-img niche-box-post boxed-inverse" data-anima="scale-rotate" data-trigger="hover">
                            <div class="block-infos">
                                <div class="block-data">
                                    <p class="bd-day">10.</p>
                                    <p class="bd-month">března 2017</p>
                                </div>
                                <a class="block-comment" href="#">0 <i class="fa fa-comment-o"></i></a>
                            </div>
                            <a class="img-box"><img class="anima" src="../images/novinka3.jpg" alt="" /></a>
                            <div class="advs-box-content">
                                <h2><a href="#">Jarní koncert</a></h2>
                                <div class="tag-row">
                                    <span><i class="fa fa-bookmark"></i> <a href="#">Akce</a>, <a href="#">Koncert</a></span>
                                    <span><i class="fa fa-pencil"></i><a>Admin</a></span>
                                </div>
                                <p class="niche-box-content">
                                    Jarní koncert v Betlémské kapli se uskutečnil dne 1. března a vystoupila na něm Filharmonie Hradec Králové.
                                </p>
                                <a class="anima-button circle-button btn btn-sm" href="#">Číst dále</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

